@import '../../../sass/variables';
#container-contact{

	/*Diseño de la vista contendora*/
	width: 90%;
	margin: auto;
	margin-top: 40px;
	//background-color: #70a0ad;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;

	/*Diseño de titulo de la vista*/
	h2 {
	//	background-color: #38565e;
		width: 80%;
		margin: 50px auto 40px auto;
	//	margin-top: 50px;
		color: black;
		text-align: center;
	}

	/*Diseño de contenedores por red social*/
	.cont-facebook,
	.cont-twitter,
	.cont-youtube,
	.cont-whatsapp,
	.cont-email{
		width: 80%;
		//background-color: #38565e;
		margin: auto;
		margin-top: 2%;
		display: flex;
		flex-wrap: wrap;

	/*Diseño de Icono*/
		.icon {
			width: 30px;
			height: 30px;
			margin-left: 30%;

			.color{
				color: $icon-color;
			}
		}

	/*Diseño de nombre*/
		.social-network{
			font-size: 18px;
			margin-left: 30px;
			a{
				color: black;
				text-decoration: none;
			}
		}
	}
}

/*Diseño responsive menor a 600px*/
@media screen and (max-width: 600px) {

	#container-contact{

		height: 100%;

		h2 {
			margin-top: 30px;
			text-align: center;
		}

		.cont-facebook,
		.cont-twitter,
		.cont-youtube,
		.cont-whatsapp,
		.cont-email{
			margin-top: 2%;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			height: 75px;

			.icon {
				margin: auto;
			}

			.social-network{
				margin: auto;
				text-align: center;
			}

		}

	}

}
