<div id="container-contact">
	<h2>CONTACTO</h2>
	<div class="cont-facebook">
		<div class="icon"><i class="fa fa-facebook-square fa-2x color"></i></div>
		<div class="social-network"><a href="#">Septimo Grado</a></div>
	</div>
	<div class="cont-twitter">
		<div class="icon"><i class="fa fa-twitter-square fa-2x color"></i></div>
		<div class="social-network"><a href="#">@septimo_grupo</a></div>
	</div>
	<div class="cont-youtube">
		<div class="icon"><i class="fa fa-youtube fa-2x color"></i></div>
		<div class="social-network"><a href="#">Septimo Grado</a></div>
	</div>
	<div class="cont-whatsapp">
		<div class="icon"><i class="fa fa-whatsapp fa-2x color"></i></div>
		<div class="social-network">2221234567</div>
	</div>
	<div class="cont-email">
		<div class="icon"><i class="fa fa-envelope-square fa-2x color"></i></div>
		<div class="social-network">tino_56@live.com.mx</div>
	</div>
</div>