<div id="container-contact">
	<h2>CONTACTO</h2>
	<div class="cont-facebook">
		<div class="icon"><i class="fab fa-facebook-square"></i></div>
		<div class="social-network"><a href="#">Septimo Grado</a></div>
	</div>
	<div class="cont-twitter">
		<div class="icon"><i class="fab fa-twitter-square"></i></div>
		<div class="social-network"><a href="#">@septimo_grupo</a></div>
	</div>
	<div class="cont-youtube">
		<div class="icon"><i class="fab fa-youtube"></i></div>
		<div class="social-network"><a href="#">Septimo Grado</a></div>
	</div>
	<div class="cont-whatsapp">
		<div class="icon"><i class="fab fa-whatsapp-square"></i></div>
		<div class="social-network">2221234567</div>
	</div>
	<div class="cont-email">
		<div class="icon"><i class="fas fa-envelope-square"></i></div>
		<div class="social-network">tino_56@live.com.mx</div>
	</div>
</div>