/*
  Design menu
*/
$menu-color-primary:#D718CC;
$menu-font-color: #fff;
$height-menu: 75px;
$width-menu: 100%;
$color-shadow: #737373;

/*
	Margins
*/
$margin-packages: 4%;

/*
	Icons
*/
$icon-color: rgb(65, 10, 97);
