#container-home{

	width: 100%;	
	//background-color: red;	
	//margin-top: 15px;


	.image-main{
		width: 800px;
		height: 450px;
		background-color: #929292;
		margin: 50px auto 0 auto;
		//margin-top: 5px;
	}
}