#container-home{

	width: 100%;	
	//background-color: red;	
	//margin-top: 15px;


	.image-main{
		width: 770px;
		height: 480px;
		//background-color: #929292;
		background-image: url('../../../assets/image-home.jpg');
		background-size: 770px 480px;
		margin: 40px auto 0 auto;
		//margin-top: 5px;
	}
}