@import '../../../sass/mixins';
#container-photos{
	.albums{
		width: 80%;
		//height: 420px;
		height: 460px;
		//background-color: #938FB8;
		display: flex;
		flex-wrap: nowrap;
		margin: 50px auto auto auto;		

		.photos-shows,
		.photos-group{
			width: 40%;
			height: 420px;
			background-color: #7995C8;
			border-right: 2px solid black;
			text-align: center;
			margin: 10px 0 0 7%;
			box-shadow: 6px 10px 10px;

			.image1 {
					@include image (rgb(199, 109, 109));
					&:hover {
						transform: translate(20px, 20px); 
					}
				}

			.image2 {
					@include image
					&:hover {
						transform: translate(20px, 20px); 
						//transition: all .5s ease-in-out;
					}
				}
			}
		}
	}


	/*
	https://www.enriquejros.com/efectos-imagenes-css/
	https://learn.shayhowe.com/advanced-html-css/transitions-animations/
	https://robots.thoughtbot.com/transitions-and-transforms
	https://www.creativebloq.com/inspiration/css-animation-examples
	*/