@import '../../../sass/variables';
#container-photos{
	
	.albums{
		width: 80%;
		height: 430px;
		display: flex;
		flex-wrap: nowrap;
		margin: 40px auto auto auto;

		.photos-shows,
		.photos-group{
			width: 40%;
			height: 400px;
			background-color: $container-back-color;
			border-right: 2px solid black;
			text-align: center;
			margin: 10px 0 0 7%;
			box-shadow: 6px 10px 10px;
			}
		}
	}

@media (max-width: 800px){
	#container-photos{

		.albums{
			border: 1px solid blue;
			width: 90%;
			height: 100%;
			flex-wrap: wrap;
			flex-direction: column;
			margin: 50px auto auto auto;

			.photos-shows,
			.photos-group {
				border: 2px solid rgb(223, 223, 223);
				width: 85%;
				height: 100%;
				margin: 30px auto 15px auto;

				h3{
					font-size: 14px;
				}
			}
		}
	}
}
