@import '../sass/variables';

#container-home {
	#header{
		width: $width-menu;
		height: $height-menu;
		background-color: $menu-color-primary;
		display: flex;
		flex-wrap: nowrap;
		box-shadow: 0 15px 15px $color-shadow;

	a{
			text-decoration: none;
			color: black;
			.logo{
						width: 100px;
						height: 75px;
						background-image:url(../assets/Logo.jpeg);
						background-size: 100px 75px;
						position: absolute;
				}

			h3{
				margin: 5px 0 0 115px;
				font-size: 22px;
			}

			h5{
				//position: absolute;
				margin: 10px 0 0 120px;
				font-size: 17px;
			}
		}
		/*
			Options for menu
		*/
		.menu{
			width: 50%;
			height: 100%;
			margin-left:240px;
			display: flex;
			flex-wrap: nowrap;
			justify-content: flex-end;

			a{
				color: #fff;
				font-size: 18px;
				width: 25%;
				height: 100%;

				.option{
					width: 100%;
					height: 100%;
					color: $menu-font-color;
					text-align: center;
					line-height: 50px;
					cursor: pointer;
				}

				.option:hover{
					background-color: #890A85;
				}
			}
		}
	}

	/**	Footer **/

	#footer{
		width: 100%;
		height: 100px;//75px
		margin-bottom: 0px;
		background-color: $menu-color-primary;
		text-align: center;
		color: #fff;
	}
}
