<div id="container-home">
  <nav id="header">
     <div class="title">
        <a routerLink="/inicio">
          <div class="logo"></div>
          <h3>Septimo grado, Grupo musical.....</h3>
          <h5>El grado que es de tu agrado</h5>
        </a>
      </div>
    <div class="menu">
      <a routerLink="/contacto"><div class="option">Contacto</div></a>
      <a routerLink="/paquetes"><div class="option">Paquetes</div></a>
      <a routerLink="/fotos"><div class="option">Fotos</div></a><!--Cambiar la direccion de link-->
    </div>
  </nav>

  <router-outlet></router-outlet>

  <!--
  <div id="footer">
    <span class="fa facebook"></span>
    <span class="fa youtube"></span>
    <span class="fa twitter"></span>
    <h2>Derechos reservados</h2>
  </div>-->

</div>
